{{ define "main" }}
<h1 style="margin: 0 0 20px 0;">{{ .Title }}</h1>

{{ .Content }}

{{ if .Pages }}
<h2 style="margin: 30px 0 10px 0;">current projects</h2>

{{ range where .Pages ".Params.status" "current" }}
<p><strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong><br>
{{ .Summary }}</p>
{{ end }}

<h2 style="margin: 30px 0 10px 0;">past projects</h2>

{{ range where .Pages ".Params.status" "completed" }}
<p><strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong><br>
{{ .Summary }}</p>
{{ end }}

{{ end }}
{{ end }}
