{{ define "main" }}
<p>Welcome to my website :)</p>

<p>On this site you can find a number of things:</p>

<p>
{{ $first := true }}
{{ range .Site.Menus.main }}
  {{ if not $first }}, {{ end }}
  <a href="{{ .URL }}">{{ .Name }}</a>
  {{ $first = false }}
{{ end }}
</p>

<br>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="48%" valign="top">

<h3 style="margin: 0 0 10px 0;">latest posts</h3>

{{ $posts := where .Site.RegularPages "Section" "blog" }}
{{ range first 6 $posts }}
<p style="margin: 10px 0 0 0; font-size: 14px; color: #666;">{{ .Date.Format "Jan 2, 2006" }}</p>
<p style="margin: 5px 0;"><a href="{{ .RelPermalink }}" style="color: blue;">{{ .Title }}</a></p>
<p style="margin: 0 0 20px 0;">{{ .Summary }}</p>
{{ end }}

</td>
<td width="4%"></td>
<td width="48%" valign="top">

<h3 style="margin: 0 0 10px 0;">latest videos</h3>

{{ range .Site.Data.videos }}
<p style="margin: 10px 0 0 0; font-size: 14px; color: #666;">{{ .date }}</p>
<p style="margin: 5px 0;"><a href="{{ .url }}" style="color: blue;">{{ .title }}</a></p>
<p style="margin: 0 0 20px 0;">{{ .description }}</p>
{{ end }}

</td>
</tr>
</table>

{{ end }}
